* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: teal;
}

h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 2em;
}

ul {
    width: 100%;
}

li {
    text-align: center;
    padding: 2%;
}

a {
    text-decoration: none;
    font-size: 2em;
}

a:hover {
    background-color: yellowgreen;
}

a:visited {
    color: crimson;
}